@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  2 April 2020

Contents  :
  1: Body Section

  Copyright (c) 2020 Arif Lutfhansah
  
========================================================================== */

/*
  Color
-------------------------------------*/
$lifestyle: #EC407A;

/*
  Transition
-------------------------------------*/
@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
     -moz-transition: all $time ease-in-out;
      -ms-transition: all $time ease-in-out;
       -o-transition: all $time ease-in-out;
          transition: all $time ease-in-out;
}
/*
  Animation Delay
-------------------------------------*/
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
     -moz-animation-delay: $time;
      -ms-animation-delay: $time;
       -o-animation-delay: $time;
          animation-delay: $time;
}

/*
  Body
-------------------------------------*/

/* --- Head Underline --- */
.head {
  &.underline {
    padding: 2px 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid $lifestyle;
  }
}

/* --- Center --- */
.center {
  width: 940px;
  margin-right: 20px;
}
/* --- Head Page --- */
.head-page {
  margin: 20px 0;
  h1 {
    display: inline-block;
    padding-left: 5px;
    margin-right: 25px;
    font-size: 30px;
    font-weight: 700;
    line-height: 23px;
    vertical-align: middle;
    border-left: 10px solid #E40000;
  }
  time {
    color: #282828;
    font-size: 18px;
  }
}
/* --- Headline --- */
.headline {
  height: 520px;
  background-color: #EEE;
  margin-bottom: 30px;
}
/* --- Hot Topic --- */
.hot-topic {
  margin-bottom: 30px;
  li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  a {
    padding: 5px 20px;
    background-color: #EEE;
    border-radius: 20px;
  }
}

/* --- Sidebar --- */
.sidebar {
  width: 300px;
}
/* --- Banner Sidebar --- */
.banner-sidebar {
  margin-bottom: 25px;
}
/* --- Terpopuler --- */
#terpopuler {
  margin-bottom: 25px;
  .title {
    color: $lifestyle;
  }
  li {
    background-color: #EDEDED;
    border-bottom: 1px dotted #C6C6C6;
    zoom: 1;
    &:hover {
      background-color: #FFFFFF;
      a {
        color: $lifestyle;
      }
    }
  }
  li:before, li:after {
    display: block;
    content: '';
  }
  li:after {
    clear: both;
  }
  .rank {
    padding: 15px;
    color: #A8A8A8;
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    font-family: Tahoma, Geneva, sans-serif;
    text-shadow: 1px 1px 0 rgba(255,255,255,1);
  }
  a {
    width: 233px;
    color: #000;
    font-weight: 700;
    padding: 15px 10px;
    display: block;
  }
}
/* --- Hot Topic --- */
#hot-topic {
  margin-bottom: 25px;
  .title {
    color: $lifestyle;
  }
  a {
    padding: 15px 10px;
    font-weight: 700;
    border-bottom: 1px dotted #C6C6C6;
    &:hover {
      color: $lifestyle;
    }
  }
}
/* --- Suplemen --- */
.suplemen {
  margin-bottom: 25px;
  .head {
    padding: 0;
  }
  .title {
    color: $lifestyle;
    font-size: 18px;
    font-weight: 700;
  }
  .more {
    position: relative;
    top: 2px;
    a {
      background-color: $lifestyle;
      padding: 6px 12px;
      line-height: 14px;
    }
    i {
      color: #FFFFFF;
      font-size: 18px;
    }
  }
  li {
    background-color: #F3F3F3;
    border-bottom: 2px solid #FFF;
    &:first-of-type {
      padding: 0;
      height: 199px;
      position: relative;
      &:hover {
        img {
          opacity: .6;
        }
        figcaption {
          background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));
          a {
            color: $lifestyle;
          }
        }
      }
      .image {
        padding: 0;
      }
      figure {
        position: relative;
        height: 199px;
      }
      figcaption {
        position: absolute;
        bottom: 0;
        z-index: 99;
        line-height: 1.2;
        background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,.8));
        a {
          color: #FFFFFF;
          font-size: 16px;
          text-shadow: 1px 1px 1px rgba(0,0,0,.4);
        }
      }
    }
    &:last-of-type {
      border-bottom: none;
    }
    &:hover {
      background-color: #D8D8D8;
    }
    a {
      padding: 10px;
      font-weight: 700;
    }
  }
}