@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  2 April 2020

Contents  :
  1: Footer Section

  Copyright (c) 2020 Arif Lutfhansah
  
========================================================================== */

/*
  Transition
-------------------------------------*/
@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
     -moz-transition: all $time ease-in-out;
      -ms-transition: all $time ease-in-out;
       -o-transition: all $time ease-in-out;
          transition: all $time ease-in-out;
}
/*
  Animation Delay
-------------------------------------*/
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
     -moz-animation-delay: $time;
      -ms-animation-delay: $time;
       -o-animation-delay: $time;
          animation-delay: $time;
}

/*
  Footer
-------------------------------------*/
footer {
  background-color: #363636;
  border-top: 5px solid #FF64A8;
}
/* --- Footer Top ---- */
.footer-top {
  margin: 20px 0 50px;
}
/* --- Logo Footer ---- */
.logo-footer {
  width: 320px;
  height: 31px;
  margin-bottom: 25px;
  background-position: -5px -129px;
}
/* --- Social Media Footer ---- */
.sosmed-footer {
  margin-bottom: 30px;
  li {
    display: inline-block;
    padding: 0 1px;
    color: #F3BB32;
    font-size: 16px;
    &:nth-child(1) {
      padding-left: 0;
      padding-right: 8px;
      font-weight: 700;
    }
    i {
      width: 45px;
      padding: 12px 0;
      color: #FFF;
      font-size: 20px;
      text-align: center;
      background-color: #282828;
      &.fa-facebook-f {
        &:hover {
          background-color: #4968A8;
        }
      }
      &.fa-twitter {
        &:hover {
          background-color: #2AA3EF;
        }
      }
      &.fa-google-plus-g {
        &:hover {
          background-color: #F44336;
        }
      }
      &.fa-rss {
        &:hover {
          background-color: #FB8C00;
        }
      }
    }
  }
}
/* --- MNC Media ---- */
.mnc-media {
  width: 114px;
  height: 58px;
  background-position: 8px 2px;
  background-color: #fff;
  border-radius: 10px;
}
/* --- Sitemap ---- */
.sitemap {
  li {
    padding: 4px 0px;
  }
  a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    &:hover {
      color: #f3bb32;
    }
  }
  .head {
    display: block;
    color: #f3bb32;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
}
.channel, .media, .management {
  float: left;
  margin-left: 80px;
}
/* --- Copyright ---- */
.copyright {
  padding: 11px 0;
  color: #FFF;
  font-weight: 600;
  line-height: 18px;
  background-color: #282828;
  text-align: center;
  small {
    font-size: 10px;
    font-weight: inherit;
    opacity: .2;
  }
}