@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  2 April 2020

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Header Section

  Copyright (c) 2020 Arif Lutfhansah
  
========================================================================== */

/*
  Transition
-------------------------------------*/
@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
     -moz-transition: all $time ease-in-out;
      -ms-transition: all $time ease-in-out;
       -o-transition: all $time ease-in-out;
          transition: all $time ease-in-out;
}
/*
  Animation Delay
-------------------------------------*/
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
     -moz-animation-delay: $time;
      -ms-animation-delay: $time;
       -o-animation-delay: $time;
          animation-delay: $time;
}

/*
  Font
-------------------------------------*/
$arial: Arial, Helvetica, sans-serif;
$tahoma: Tahoma, Geneva, sans-serif;

/*
  Header
-------------------------------------*/
/* --- Header Top ---- */
.header-top {
	background-color: #01579B;
}
/* --- Language ---- */
.language {
  height: 20px;
	padding: 12px 0;
	margin-right: 32px;
  a {
    display: inline-block;
    margin-right: 8px;
  }
	i {
		width: 30px;
		height: 20px;
    border-radius: 30px;
		@include transition(.3s);
		&:hover {
			opacity: .7;
		}
	}
	.en {
		background-position: -110px -24px;
	}
	.id {
		background-position: -110px -3px;
	}
}
/* --- Navigation Kanal ---- */
.nav-kanal {
  li {
    display: inline-block;
    a {
      padding: 13px 8px 14px;
      color: #FFF;
      font: 14px $tahoma;
      font-weight: 700;
      @include transition(.3s);
    }
    &:hover {
      background: #C62828;
    }
  }
}
/* --- Sosmed Header ---- */
.sosmed-header {
  li {
    display: inline-block;
    padding: 10px 3px 11px;
    i {
      width: 23px;
      padding: 5px 0;
      color: #FFF;
      font-size: 13px;
      text-align: center;
      border-radius: 4px;
      background-color: #FFF;
      @include transition(.3s);
      &:hover {
        opacity: .8;
      }
    }
    & .fa-facebook-f {
      color: #01579B;
    }
    & .fa-twitter {
      color: #40C4FF;
    }
    & .fa-google-plus-g {
      color: #F44336;
    }
    & .fa-rss {
      color: #FB8C00;
    }
  }
}

/* --- Logo ---- */
.logo {
  padding: 31px 0 27px;
  @include transition(.3s);
  &:hover {
    opacity: .7;
  }
  .sindonews {
    width: 400px;
    height: 63px;
    background-position: -5px -56px;
  }
}
/* --- R Header --- */
.r_header {
  padding: 16px 0 10px;
  @include transition(.3s);
  &:hover {
    opacity: .7;
  }
}
/* --- Header Bottom ---- */
.header-bottom {
  height: 45px;
  margin-bottom: 20px;
  background-color: #282828;
  border-bottom: 3px solid #FF64A8;
  @include transition(.3s);
  &.sticky {
    display: none;
    position: fixed;
    top: 0;
    width: 1260px;
    z-index: 9999;
    li {
      &:first-of-type {
        i {
          padding: 0 20px;
          line-height: 56px;
          color: #FFF;
          font-size: 20px;
          cursor: pointer;
          &.show {
            display: block;
          }
        }
      }
    }
    .kanal-list {
      display: none;
      position: absolute;
      width: 260px;
      background-color: #398B7D;
      li {
        display: block;
      }
      a {
        padding: 0 30px;
      }
    }
  }
}
/* --- Navigation Subkanal ---- */
.nav-subkanal {
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 0 20px;
    line-height: 45px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    @include transition(.3s);
    &.active {
      background-color: #FF64A8;
    }
    &:hover {
      background-color: #FF64A8;
    }
  }
}
/* --- Search ---- */
.search-field {
  position: relative;
  top: 5.5px;
  right: 10px;
  width: 330px;
  input {
    position: absolute;
    right: 0;
    width: 50%;
    height: 21px;
    padding: 4px 15px;
    color: #235550;
    font-weight: 700;
    border: 1px solid #FFF;
    border-radius: 15px;
    z-index: 99;
    transition: all .3s ease-in-out;
    &:focus {
      right: 25px;
      width: 75%;
      outline: none;
    }
  }
  input:focus ~ button.btn-search {
    right: 28px;
    color: #FFF;
    background: #FF69B4;
  }
  input:focus ~ button.btn-reset {
    right: -3px;
    z-index: 9;
  }
  button {
    text-align: center;
    &:focus {
      outline: none;
    }
  }
  .btn-search {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 26px;
    height: 26px;
    padding: 4px;
    background-color: #CCC;
    border: none;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
    @include transition(.3s);
    &:before {
      position: relative;
      top: 0.2px;
      left: 0.9px;
    }
  }
  .btn-reset {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #FFF;
    border-radius: 50%;
    cursor: pointer;
    z-index: -1;
    &:before {
      position: relative;
      top: 0.1px;
      left: 0.7px;
      font-size: 13px;
    }
  }
}