@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Contents  :
  1: Body Section
  
========================================================================== */

body {
  background-color: #EEEEEE;
}
/*
  Home
-------------------------------------*/
#content {
  padding-top: 30px;
}
/* --- Center --- */
.center-content {
  width: 940px;
  padding-bottom: 100px;
  margin-right: 20px;
}
/* --- Banner Center --- */
.banner-center {
  margin-bottom: 30px;
  text-align: center;
  @include transition(.3s);
  &:hover {
    opacity: .7;
  }
}
/* --- Slider --- */
.slider {
  margin: 0 auto 40px;
  .block-text {
    position: relative;
    top: -264px;
    padding: 120px 20px 30px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,255,255,1));
    @include transition(.3s);
  }
  figcaption {
    text-align: center;
    margin-bottom: 8px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    @include transition(.3s);
  }
  .subcaption {
    text-align: center;
    @include transition(.3s);
  }
  .slick-slide {
    width: 620px;
    height: 413px;
    margin: 0px 7px;
    opacity: .2;
    @include transition(.3s);
    &:hover {
      .block-text {
        background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,0.8));
        figcaption {
          color: #FBB148;
        }
        .subcaption {
          color: #FFF;
        }
      }
    }
    img {
      width: 100%;
    }
  }
  .slick-active {
    opacity: .5;
  }
  .slick-current {
    opacity: 1;
  }
  .slick-loading {
    .slick-list
    {
      background: #fff url('../images/ajax-loader.gif') center center no-repeat;
    }
  }
  .slick-prev,
  .slick-next
  {
    display: block;
    position: absolute;
    top: 47%;
    width: 20px;
    height: 20px;
    padding: 0;
    color: transparent;
    font-size: 0;
    line-height: 0;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 99;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus
  {
    color: transparent;
    outline: none;
    background: transparent;
  }
  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before
  {
    opacity: 1;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before
  {
    opacity: .25;
  }
  .slick-prev:before,
  .slick-next:before
  {
    color: white;
    font-family: 'slick';
    font-size: 32px;
    line-height: 1;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include transition(.3s);
  }
  .slick-prev:hover:before,
  .slick-next:hover:before
  {
    color: #000;
  }
  .slick-prev
  {
    left: 65px;
  }
  [dir='rtl'] .slick-prev
  {
    right: -25px;
    left: auto;
  }
  .slick-prev:before
  {
    content: '\2190';
  }
  [dir='rtl'] .slick-prev:before
  {
    content: '\2192';
  }
  .slick-next
  {
    right: 85px;
  }
  [dir='rtl'] .slick-next
  {
    right: auto;
    left: -25px;
  }
  .slick-next:before
  {
    content: '\2192';
  }
  [dir='rtl'] .slick-next:before
  {
    content: '\2190';
  }
  .slick-dots
  {
    display: block;
    position: relative;
    top: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li
    {
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }
    button
    {
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      color: transparent;
      font-size: 0;
      line-height: 0;
      background: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
      &:before {
        content: '\2022';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        font-family: 'slick';
        color: #398B7D;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }
      &:hover {
        outline: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before
  {
    opacity: 1;
  }
  .slick-dots li.slick-active button:before
  {
    opacity: 1;
    color: #FBB148;
  }
}
@media only screen and (max-width: 1260px) {
  .slick-slider {
    width: 1260px;
  }
}
@font-face
{
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick.eot');
  src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
/* --- Destinasi Pilihan --- */
#destinasi-pilihan {
  margin-bottom: 30px;
  .head {
    line-height: 38px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .4px;
    background-color: #398B7D;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  ul {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
  li {
    background-color: #FFF;
    border: 1px solid #D2D2D2;
  }
  img {
    width: 100%;
    @include transition(.3s);
    &:hover {
      opacity: .7;
    }
  }
  .link {
    a {
      padding: 5px 15px 50px;
      font-weight: 700;
      @include transition(.3s);
      &:hover {
        color: #FB796B;
      }
    }
  }
}
/* --- Artikel Terbaru --- */
#artikel-terbaru {
  .head {
    height: 38px;
    background-color: #398B7D;
    border-top-left-radius: 15px;
    border-top: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;
    &.no-rounded {
      border-radius: 0;
      border-top: none;
    }
    .title {
      padding: 0 15px;
      line-height: 38px;
      color: #FFF;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: .4px;
      text-transform: uppercase;
    }
    .more-top-right {
      a {
        padding: 0 15px 0 0px;
        background-color: #6FB884;
        line-height: 38px;
        color: #FFF;
        font-weight: 700;
        @include transition(.3s);
        &:hover {
          color: #6FB884;
          background-color: #FFF;
          &:before {
            border-top: 38px solid #398B7D;
            border-right: 40px solid #FFF;
          }
        }
        &:before {
          content: " ";
          float: left;
          border-top: 38px solid #398B7D;
          border-right: 40px solid #6FB884;
          @include transition(.3s);
        }
      }
    }
  }
  .list-news {
    background-color: #FFF;
    border: 1px solid #D2D2D2;
    border-top: none;
  }
  .news {
    padding: 25px 20px;
  }
  .image {
    width: 23%;
    @include transition(.3s);
    &:hover {
      opacity: .7;
    }
  }
  .block-caption {
    width: 77%;
    .category {
      img {
        padding-right: 8px;
        vertical-align: top;
      }
      a {
        color: #A05E07;
        font-weight: 700;
        @include transition(.3s);
        &:hover {
          opacity: .7;
        }
      }
    }
    figcaption {
      a {
        font-size: 18px;
        font-weight: 700;
        @include transition(.3s);
        &:hover {
          color: #FB796B;
        }
      }
    }
    time {
      display: block;
      color: #BFBFBF;
      font-size: 12px;
      margin-bottom: 3px;
    }
  }
}
/* --- Photo & Video --- */
#photo-video {
  background-color: #181818;
  .head {
    height: auto;
    background-color: #181818;
    border-radius: none;
    .title {
      padding: 0 20px;
      line-height: 45px;
    }
    .more {
      a {
        padding: 0 20px;
        line-height: 45px;
        background-color: #181818;
      }
    }
  }
  ul {
    padding: 0 20px;
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
  a {
    padding: 5px 0;
    color: #FFF;
    font-weight: 700;
    @include transition(.3s);
    &:hover {
      color: #FBB148;
    }
  }
}
/* --- More --- */
.more-news {
  padding: 40px 0 60px;
  text-align: center;
  a {
    display: inline-block;
    width: 350px;
    padding: 8px 0;
    color: #FBB148;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 2px solid #FBB148;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1;
    @include transition(.3s);
    &:hover {
      color: #FFF;
      &:after {
        top: 0;
        height: 100%;
      }
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 0;
      background: #FBB148;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      @include transition(.3s);
    }
    &:active {
      top: 2px;
    }
  }
}
/* --- Sidebar --- */
.sidebar {
  width: 300px;
}
/* --- Banner Sidebar --- */
.banner-sidebar {
  margin-bottom: 25px;
  @include transition(.3s);
  &:hover {
    opacity: .7;
  }
}
/* --- Terpopuler --- */
#terpopuler {
  margin-bottom: 25px;
  li {
    background-color: #398B7D;
    border-bottom: 2px solid #FFF;
    zoom: 1;
    @include transition(.3s);
    &:first-of-type {
      padding: 0;
      &:hover {
        img {
          opacity: .6;
        }
        figcaption {
          background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(57,139,125,1));
          a {
            color: #E40000;
          }
        }
      }
      .image {
        padding: 0;
      }
      .gradient {
        position: relative;
        top: -56px;
        height: 51px;
        margin-bottom: -56px;
        text-indent: -9999px;
        line-height: 1.2;
        background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(57,139,125,1));
      }
      .rank {
        padding: 15px 15px 15px 20px;
      }
      a {
        &.left {
          padding: 15px 10px 15px 5px;
        }
      }
    }
    &:hover {
      background-color: #FFFFFF;
      .rank {
        color: #398B7D;
      }
      a {
        color: #398B7D;
      }
    }
  }
  li:before, li:after {
    display: block;
    content: '';
  }
  li:after {
    clear: both;
  }
  .rank {
    padding: 15px 15px 15px 20px;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    font-family: Tahoma, Geneva, sans-serif;
    @include transition(.3s);
  }
  a {
    display: block;
    width: 233px;
    padding: 15px 10px 15px 5px;
    color: #FFF;
    font-weight: 700;
    @include transition(.3s);
  }
}


/*
  Detail
-------------------------------------*/
/* --- Breadcrumb --- */
.breadcrumb {
  &:after {
    content : url(../images/line_plane.png);
    position: relative;
    top: -5px;
    margin-bottom: -5px;
  }
  li {
    display: inline-block;
    padding-right: 3px;
  }
  .separator {
    color: #E9484B;
  }
  a {
    font-weight: 700;
    @include transition(.3s);
    &:hover {
      color: #FB796B;
    }
    &.active {
      color: #FB796B;
    }
  }
}
/* --- Detail News --- */
.detail-news {
  .title {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 700;
    line-height: 44px;
  }
  .author {
    a {
      color: #F47920;
      font-size: 18px;
      font-weight: 700;
    }
  }
  time {
    display: block;
    margin-bottom: 20px;
    color: #6E6E6E;
    font-size: 16px;
  }
  figure {
    margin-bottom: 20px;
  }
  figcaption {
    color: #8E8E8E;
    font-size: 12px;
    text-align: center;
  }
  .skyscrapper {
    width: 160px;
    margin-right: 30px;
    @include transition(.3s);
    &:hover {
      opacity: .7;
    }
  }
  .inner {
    width: 750px;
  }
  p {
    margin-bottom: 40px;
    font-size: 16px;
  }
}
/* --- Berita Terkait --- */
.berita-terkait {
  .head {
    color: #F47920;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .category-relative {
    margin: 15px 0;
    li {
      display: inline-block;
      padding-right: 5px;
    }
    a {
      padding: 8px 20px;
      color: #FFF;
      font-weight: 700;
      background-color: #0EB2F0;
      border: 1px solid #0EB2F0;
      border-radius: 50px;
      @include transition(.3s);
      &:hover {
        color: #0EB2F0;
        background-color: #FFF;
      }
    }
  }
  .news-relative {
    li {
      padding: 10px 0;
      a {
        font-size: 16px;
        font-weight: 700;
        @include transition(.3s);
        &:hover {
          color: #FB796B;
        }
      }
    }
  }
}


/*
  Search Directory
-------------------------------------*/
#search-directory {
  border: 1px solid #D2D2D2;
}
/* --- Banner Title --- */
.banner-title {
  img {
    display: block;
  }
}
/* --- Tabs --- */
.tabs {
  .nav-tabs {
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    background-color: #B77312;
    &:before {
      display: table;
      content: " ";
    }
    &>li {
      display: block;
      float: left;
      position: relative;
      border: none;
      &.active {
        &>a {
          color: #EFCA6F;
          cursor: default;
          background-color: #B77312;
          border: none;
        }
      }
      &>a {
        display: block;
        position: relative;
        padding: 10px 15px;
        color: #FFF;
        font-weight: 700;
        line-height: 1.42857143;
        border: none;
      }
    }
  }
  .tab-content {
    padding: 20px 25px 5px;
    background-color: #FFF;
    &>.tab-pane {
      display: none;
    }
    &>.active {
      display: block;
    }
    .tab-pane {
      &.fade {
        opacity: 0;
        -webkit-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear;
        &.in {
          opacity: 1;
        }
      }
    }
  }
  .alphabet {
    margin-bottom: 20px;
    .word {
      margin-bottom: 2px;
      color: #FB796B;
      font-size: 16px;
      font-weight: 700;
      text-decoration: underline;
    }
    li {
      display: inline-block;
      padding-right: 35px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}