@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Contents  :
  1: Footer Section
  
========================================================================== */

/*
  Footer
-------------------------------------*/
footer {
  &:before {
    content: url(../images/ornaman_footer_01.png);
    display: block;
    position: relative;
    top: 19px;
    text-align: right;
  }
}
/* --- Footer Top ---- */
.footer-top {
  background-color: #398B7D;
  .container {
    padding: 30px 0;
    background-color: #398B7D;
  }
}
/* --- Sitemap ---- */
.sitemap {
  width: 90%;
  .head {
    min-width: 150px;
    color: #F3BB32;
    font-size: 16px;
    font-weight: 700;
  }
  .channel-sitemap, .management-sitemap, .sosmed-sitemap {
    margin-bottom: 15px;
  }
  .sosmed-sitemap {
    li {
      border-right: none;
    }
  }
  li {
    display: inline-block;
    padding: 0 9px 0 6px;
    border-right: 1px solid #fff;
    &:last-of-type {
      border-right: none;
    }
  }
  a {
    color: #FFF;
    line-height: 14px;
    @include transition(.3s);
    &:hover {
      color: #F37655;
    }
  }
}
/* --- MNC Media ---- */
.mnc-media {
  @include transition(.3s);
  &:hover {
    opacity: .7;
  }
}
/* --- Copyright ---- */
.copyright {
  text-align: center;
  background-color: #165F53;
  .container {
    padding: 12px 0;
    color: #FFF;
    background-color: #165F53;
  }
  span {
    font-weight: 700;
  }
}