@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Header Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

/*
  Header
-------------------------------------*/

/* --- Header Top ---- */
.header-top {
  padding: 12px 30px;
  background-color: #E0E0E0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
/* --- Kanal Nav ---- */
.kanal-nav {
  li {
    display: inline-block;
    padding-right: 15px;
  }
  a {
    color: #008FB6;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 30px;
    @include transition(.3s);
    &.active {
      color: #FB796B;
    }
    &:hover {
      color: #FB796B;
    }
  }
}
/* --- Sosmed Header ---- */
.sosmed-header {
  padding-left: 20px;
  border-left: 1px solid #9E9E9E;
  li {
    display: inline-block;
    padding: 0 2px;
  }
  a {
    width: 33px;
    text-align: center;
    background-color: #398B7D;
    border-radius: 50%;
    padding: 5px 0;
    @include transition(.3s);
    &.active {
      background-color: #FB796B;
    }
    &:hover {
      background-color: #FB796B;
    }
  }
  i {
    color: #FFF;
    font-size: 18px;
  }
}
/* --- Header Middle ---- */
.header-middle {
  height: 150px;
  overflow: hidden;
}
/* --- Logo ---- */
.logo {
  padding: 38.5px 0px;
  @include transition(.3s);
  &:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
  }
  img {
    width: 500px;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* --- Ornamen Header ---- */
.ornamen-header {
  position: relative;
  top: 19px;
  z-index: 9;
}
/* --- Header Bottom ---- */
.header-bottom {
  height: 56px;
  background-color: #398B7D;
  @include transition(.3s);
  &.sticky {
    display: none;
    position: fixed;
    top: 0;
    width: 1260px;
    z-index: 9999;
    li {
      &:first-of-type {
        i {
          padding: 0 20px;
          line-height: 56px;
          color: #FFF;
          font-size: 20px;
          cursor: pointer;
          &.show {
            display: block;
          }
        }
      }
    }
    .kanal-list {
      display: none;
      position: absolute;
      width: 260px;
      background-color: #398B7D;
      li {
        display: block;
      }
      a {
        padding: 0 30px;
      }
    }
  }
}
/* --- Subkanal Nav ---- */
.subkanal-nav {
  ul {
    font-size: 0;
  }
  li {
    display: inline-block;
  }
  a {
    padding: 0 20px;
    line-height: 56px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    @include transition(.3s);
    &.active {
      background-color: #6FB884;
    }
    &:hover {
      background-color: #6FB884;
    }
  }
}
/* --- Search ---- */
.search-field {
  position: relative;
  top: 12.5px;
  right: 10px;
  width: 330px;
  input {
    position: absolute;
    right: 0;
    width: 50%;
    height: 21px;
    padding: 4px 15px;
    color: #235550;
    font-weight: 700;
    border: 1px solid #FFF;
    border-radius: 15px;
    z-index: 99;
    transition: all .3s ease-in-out;
    &:focus {
      right: 25px;
      width: 75%;
      outline: none;
    }
  }
  input:focus ~ button.btn-search {
    right: 28px;
    color: #FFF;
    background: #FF69B4;
  }
  input:focus ~ button.btn-reset {
    right: -3px;
    z-index: 9;
  }
  button {
    text-align: center;
    &:focus {
      outline: none;
    }
  }
  .btn-search {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 26px;
    height: 26px;
    padding: 4px;
    background-color: #CCC;
    border: none;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
    @include transition(.3s);
    &:before {
      position: relative;
      top: -0.8px;
      left: 0.9px;
    }
  }
  .btn-reset {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #FFF;
    border-radius: 50%;
    cursor: pointer;
    z-index: -1;
    &:before {
      position: relative;
      top: -0.8px;
      left: 0.7px;
      font-size: 13px;
    }
  }
}