/*
Error: Undefined mixin 'transition'.
        on line 41 of E:\Project\Web\sindonews\kanal\travel\assets\scss\header.scss, in `transition'
        from line 41 of E:\Project\Web\sindonews\kanal\travel\assets\scss\header.scss

36:   a {
37:     color: #008FB6;
38:     font-weight: 700;
39:     letter-spacing: .5px;
40:     line-height: 30px;
41:     @include transition(.3s);
42:     &.active {
43:       color: #FB796B;
44:     }
45:     &:hover {
46:       color: #FB796B;

Backtrace:
E:\Project\Web\sindonews\kanal\travel\assets\scss\header.scss:41:in `transition'
E:\Project\Web\sindonews\kanal\travel\assets\scss\header.scss:41
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:98:in `block in with_mixin'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:98:in `with_mixin'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `map'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `map'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `map'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:161:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/root_node.rb:36:in `css_tree'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/root_node.rb:20:in `render'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/engine.rb:290:in `render'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:400:in `run'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:63:in `process_result'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/bin/sass:23:in `load'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'transition'.\A         on line 41 of E:\Project\Web\sindonews\kanal\travel\assets\scss\header.scss, in `transition'\A         from line 41 of E:\Project\Web\sindonews\kanal\travel\assets\scss\header.scss\A \A 36:   a {\A 37:     color: #008FB6;\A 38:     font-weight: 700;\A 39:     letter-spacing: .5px;\A 40:     line-height: 30px;\A 41:     @include transition(.3s);\A 42:     &.active {\A 43:       color: #FB796B;\A 44:     }\A 45:     &:hover {\A 46:       color: #FB796B;"; }
