/*
Error: Undefined mixin 'transition'.
        on line 106 of E:\Project\Web\sindonews\kanal\lifestyle\assets\css\components\carousel.scss, in `transition'
        from line 106 of E:\Project\Web\sindonews\kanal\lifestyle\assets\css\components\carousel.scss

101:       display: block;
102:     }
103:   }
104:   .category, .title, .caption, .author {
105:     display: none;
106:     @include transition(1s);
107:   }
108:   .category {
109:     width: 280px;
110:     background: #b70000;
111:     padding: 0.5em 1.42857142857143em;

Backtrace:
E:\Project\Web\sindonews\kanal\lifestyle\assets\css\components\carousel.scss:106:in `transition'
E:\Project\Web\sindonews\kanal\lifestyle\assets\css\components\carousel.scss:106
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:98:in `block in with_mixin'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:98:in `with_mixin'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `map'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `map'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `map'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:161:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/root_node.rb:36:in `css_tree'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:391:in `run'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:63:in `process_result'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/bin/sass:23:in `load'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'transition'.\A         on line 106 of E:\Project\Web\sindonews\kanal\lifestyle\assets\css\components\carousel.scss, in `transition'\A         from line 106 of E:\Project\Web\sindonews\kanal\lifestyle\assets\css\components\carousel.scss\A \A 101:       display: block;\A 102:     }\A 103:   }\A 104:   .category, .title, .caption, .author {\A 105:     display: none;\A 106:     @include transition(1s);\A 107:   }\A 108:   .category {\A 109:     width: 280px;\A 110:     background: #b70000;\A 111:     padding: 0.5em 1.42857142857143em;"; }
