/*
Error: Undefined variable: "$colors".
        on line 3 of E:\Project\Web\sindonews\kanal\lifestyle\assets\css\components\color-classes.scss

1: // Color Classes
2: 
3: @each $color_name, $color in $colors {
4:   @each $color_type, $color_value in $color {
5:     @if $color_type == "base" {
6:       .#{$color_name} {
7:         background-color: $color_value !important;
8:       }

Backtrace:
E:\Project\Web\sindonews\kanal\lifestyle\assets\css\components\color-classes.scss:3
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/script/tree/variable.rb:49:in `_perform'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/script/tree/node.rb:50:in `perform'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:233:in `visit_each'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `map'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:161:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/root_node.rb:36:in `css_tree'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:391:in `run'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:63:in `process_result'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/lib/ruby/gems/2.4.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/bin/sass:23:in `load'
E:/Software/Adobe/Adobe Dreamweaver/Adobe/ruby/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$colors\".\A         on line 3 of E:\Project\Web\sindonews\kanal\lifestyle\assets\css\components\color-classes.scss\A \A 1: // Color Classes\A 2: \A 3: @each $color_name, $color in $colors {\A 4:   @each $color_type, $color_value in $color {\A 5:     @if $color_type == \"base\" {\A 6:       .#{$color_name} {\A 7:         background-color: $color_value !important;\A 8:       }"; }
