header{position:fixed;top:0;width:100%;height:80px}nav{background-color:#fff;border-bottom:1px solid rgba(33,37,41,0.1);box-shadow:none}.logo{display:inline-block;padding:12px 0}.sosmed{padding:20px 0}.sosmed li{display:inline-block;padding:0 8px}.sosmed img{vertical-align:middle}.slicknav{display:none}
