footer .ornamen img{position:relative;top:21px;width:100%}footer .footer-top{padding:30px 20px;background-color:#1B3073}footer .sitemap{width:50%}footer .sitemap .head{margin-bottom:10px;color:#FFF;font-size:3.7vw;font-weight:700}footer .sitemap li{padding:5px 0}footer .sitemap a{color:#FFF;font-size:3.2vw}footer .sitemap .channel-sitemap{margin-bottom:10px}footer .sitemap .sosmed-sitemap li{display:inline-block;padding-right:10px}footer .copyright{color:#FFF;font-size:3vw;text-align:center;line-height:50px;background-color:#0E1F52}
