@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Contain   :
  Reset CSS that resets browser's consisting CSS setting as default.
  CSSs that construct page layout like page background, header, footer, global navigation and so on.
  
Contents  :
  1: Normalize
  2: Sprite
  3: Sinfix
  4: Transition
  5: Animation Delay 
  
========================================================================== */

/*
  Normalize
-------------------------------------*/
html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: 'Poppins', ;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
figcaption,
figure,
main {
  display: block;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
li {
  list-style-type: none;
}
a {
  display: block;
  color: #000000;
  font-family: Tahoma, Geneva, sans-serif;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input { 
  overflow: visible;
}
button,
select { 
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; 
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
/*
  Sprite
-------------------------------------*/
.sprite {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  display: block;
}
/*
  sinfix
-------------------------------------*/
.sinfix:before, .sinfix:after {
  display: block;
  content: '';
}
.sinfix:after {
  clear: both;
}
.sinfix {
  zoom: 1;
}
/*
  Transition
-------------------------------------*/
@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
     -moz-transition: all $time ease-in-out;
      -ms-transition: all $time ease-in-out;
       -o-transition: all $time ease-in-out;
          transition: all $time ease-in-out;
}
/*
  Animation Delay
-------------------------------------*/
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
     -moz-animation-delay: $time;
      -ms-animation-delay: $time;
       -o-animation-delay: $time;
          animation-delay: $time;
}
/*
  Bootstrap
-------------------------------------*/
.container {
  width: 1260px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*@media (max-width: 857px) {
}
@media only screen and (min-width: 858px) and (max-width: 1081px) {
  .container {
    width: 840px;
  }
}
@media only screen and (min-width: 1082px) and (max-width: 1289px) {
  .container {
    width: 1060px;
  }
}
@media (min-width: 1290px) {
  .container {
    width: 1260px;
  }
}*/
.right {
  float: right !important;
}
.left {
  float: left !important;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .sindc-1, .sindc-2, .sindc-3, .sindc-4, .sindc-5, .sindc-6, .sindc-7, .sindc-8, .sindc-9, .sindc-10, .sindc-11, .sindc-12 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .sindc-12 {
    width: 100%;
  }
  .sindc-11 {
    width: 91.66666667%;
  }
  .sindc-10 {
    width: 83.33333333%;
  }
  .sindc-9 {
    width: 75%;
  }
  .sindc-8 {
    width: 66.66666667%;
  }
  .sindc-7 {
    width: 58.33333333%;
  }
  .sindc-6 {
    width: 50%;
  }
  .sindc-5 {
    width: 41.66666667%;
  }
  .sindc-4 {
    width: 33.33333333%;
  }
  .sindc-3 {
    width: 25%;
  }
  .sindc-2 {
    width: 16.66666667%;
  }
  .sindc-1 {
    width: 8.33333333%;
  }
}