@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Contents  :
  1: Body Section
  
========================================================================== */

body {
  background-color: #F1F3F4;
}
.wrap {
  padding-right: 20px;
  padding-left: 20px;
}
/* --- Head --- */
.head {
  margin-bottom: 30px;
  color: #473C33;
  font-size: 5.3vw;
  font-weight: 700;
  a {
    display: inline-block;
    float: right;
  }
  span {
    color: #9E9E9E;
    font-size: 3.7vw;
    vertical-align: middle;
    &:hover {
      color: #6FB884;
    }
  }
}
/* --- Swiper Image --- */
.slider-image {
  margin-bottom: 30px;
  img {
    width: 100%;
    border-radius: 18px;
  }
  a {
    position: absolute;
    bottom: 109px;
    width: calc(100% - 40px);
    padding: 12px 20px;
    color: #FFF;
    font-size: 3.8vw;
    font-weight: 700;
    margin-bottom: -103px;
    background-color: rgba(0,0,0,0.5);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  .swiper-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/* --- List News --- */
.list-news {
  figure {
    position: relative;
    background-color: #FFF;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.015), 0 100px 80px rgba(0, 0, 0, 0.03);
  }
  figure:before, figure:after {
    display: block;
    content: '';
  }
  figure:after {
    clear: both;
  }
  .image {
    float: left;
    width: 125px;
    height: 120px;
    img {
      object-fit: cover;
      width: 125px;
      height: 120px;
      border-radius: 10px;
    }
  }
  .block-caption {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
    width: calc(100% - 165px);
    margin-left: 145px;
  }
  figcaption {
    a {
      margin-bottom: 7px;
      color: #473C33;
      font-size: 4vw;
      font-weight: 700;
      &:hover {
        color: #6FB884;
      }
    }
  }
  .category {
    display: inline-block;
    a {
      font-size: 3.1vw;
      &:hover {
        color: #FB796B;
      }
    }
  }
  time {
    font-size: 3.1vw;
  }
  /* --- Destinasi Pilihan --- */
  .destinasi-pilihan {
    padding: 20px 0;
    margin: 40px 0 25px;
    background-color: #398B7D;
    box-shadow: none;
    .head {
      padding: 0 20px 25px;
      margin: 0;
      color: #FFF;
    }
    figure {
      width: calc(50% - 10px);
      margin-bottom: 20px;
      background-color: #FFF;
      border-radius: 10px;
      box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.015), 0 100px 80px rgba(0, 0, 0, 0.03);
      &:nth-child(odd) {
        float: left;
      }
      &:nth-child(even) {
        float: right;
      }
    }
    .image {
      width: 100%;
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }
    figcaption {
      a {
        padding: 10px 15px;
      }
    }
  }
}
/* --- Berita Terkini --- */
.berita-terkini {
  li {
    padding-right: 20px;
    padding-left: 20px;
    &.destinasi-pilihan {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
/* --- Travel Directory --- */
.travel-directory {
  margin: 30px 0;
  img {
    display: inherit;
    width: 100%;
  }
  input {
    float: left;
    width: calc(100% - 75px);
    padding: 0 15px;
    margin: 0;
    line-height: 40px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    &:focus {
      outline: none;
    }
  }
  button {
    width: 45px;
    padding: 0;
    margin: 0;
    line-height: 40px;
    color: #FFF;
    background-color: #FF69B4;
    border: none;
  }
}
/* --- Photo & Video --- */
.photo-video {
  padding: 20px 0 10px;
  margin-bottom: 50px;
  background-color: #000;
  .head {
    color: #FFF;
  }
  .swiper-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/* --- Berita Terpopuler --- */
.berita-terpopuler {
  margin-bottom: 70px;
  .list-news {
    .image {
      span {
        position: absolute;
        left: 90px;
        bottom: 0px;
        width: 35px;
        color: #FFF;
        font-size: 4.7vw;
        text-align: center;
        background-color: #C68B2D;
        line-height: 30px;
        border-bottom-right-radius: 9px;
        border-top-left-radius: 9px;
      }
    }
  }
}


/*
  Detail
-------------------------------------*/
/* --- Breadcrumb --- */
.breadcrumb {
  margin-bottom: 20px;
  li {
    display: inline-block;
    padding-right: 3px;
  }
  .separator {
    color: #E9484B;
  }
  a {
    font-size: 3.7vw;
    font-weight: 700;
    @include transition(.3s);
    &:hover {
      color: #FB796B;
    }
    &.active {
      color: #FB796B;
    }
  }
}
/* --- Detail News --- */
.detail-news {
  margin-top: 10px;
  .title {
    margin-bottom: 10px;
    font-size: 8vw;
    font-weight: 700;
    line-height: 44px;
  }
  .author {
    a {
      color: #F47920;
      font-size: 4.5vw;
      font-weight: 700;
    }
  }
  time {
    display: block;
    margin-bottom: 20px;
    color: #6E6E6E;
    font-size: 4vw;
  }
  figure {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  figcaption {
    color: #8E8E8E;
    font-size: 12px;
    text-align: center;
  }
  p {
    margin-bottom: 40px;
    font-size: 4.1vw;
  }
}
/* --- Berita Terkait --- */
.berita-terkait {
  margin-bottom: 30px;
  .category-relative {
    margin-bottom: 20px;
    li {
      display: inline-block;
      padding-right: 5px;
      margin-bottom: 10px;
    }
    a {
      padding: 8px 20px;
      color: #FFF;
      font-size: 4vw;
      font-weight: 700;
      background-color: #0EB2F0;
      border: 1px solid #0EB2F0;
      border-radius: 50px;
      @include transition(.3s);
      &:hover {
        color: #0EB2F0;
        background-color: #FFF;
      }
    }
  }
  .news-relative {
    li {
      padding: 10px 0;
      a {
        font-size: 16px;
        font-weight: 700;
        @include transition(.3s);
        &:hover {
          color: #FB796B;
        }
      }
    }
  }
}
/* --- Berita Terpopuler --- */
.berita-terpopuler {
  &.detail {
    .rank {
      padding: 20px 0;
      width: 130px;
      color: #FB796B;
      font-size: 11vw;
      font-weight: 700;
      text-align: center;
    }
    .block-caption {
      margin-left: 130px;
    }
  }
}

/*
  Media Query
-------------------------------------*/
@media only screen and (max-width: 402px) {
  /* --- List News --- */
  .list-news {
    .block-caption {
      width: calc(100% - 153px);
      margin-left: 133px;
    }
    .image {
      img {
        width: 115px;
      }
    }
  }
  /* --- Berita Terpopuler --- */
  .berita-terpopuler {
    .list-news {
      .image {
        span {
          left: 80px;
        }
      }
    }
  }
}
@media only screen and (max-width: 375px) {
  /* --- List News --- */
  .list-news {
    figcaption {
      a {
        margin-bottom: 3px;
      }
    }
    .category {
      a {
        font-size: 3.6vw;
      }
    }
    time {
      font-size: 3.6vw;
    }
  }
  /* --- Berita Terpopuler --- */
  .berita-terpopuler {
    &.detail {
      .rank {
        width: 100px;
      }
      .block-caption {
        width: calc(100% - 115px);
        margin-left: 120px;
      }
    }
  }
}