@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Contents  :
  1: Footer Section
  
========================================================================== */

/*
  Footer
-------------------------------------*/
footer {
  .ornamen {
    img {
      position: relative;
      top: 15px;
      width: 100%;
    }
  }
  .footer-top {
    padding: 30px 20px;
    background-color: #398B7D;
  }
  .sitemap {
    width: 50%;
    .head {
      margin-bottom: 10px;
      color: #FFF;
      font-size: 3.7vw;
      font-weight: 700;
    }
    li {
      padding: 5px 0;
    }
    a {
      color: #FFF;
      font-size: 3.2vw;
    }
    .channel-sitemap {
      margin-bottom: 10px;
    }
    .sosmed-sitemap {
      li {
        display: inline-block;
        padding-right: 10px;
      }
    }
  }
  .copyright {
    color: #FFF;
    font-size: 3vw;
    text-align: center;
    line-height: 50px;
    background-color: #165F53;
  }
}