@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Header Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

/*
  Header
-------------------------------------*/
header {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    -ms-flex: 1;
    flex: 1;
  }
  .menu {
    padding-left: 20px;
    i {
      font-size: 18px;
    }
  }
  .logo {
    height: 27px;
    text-align: center;
    img {
      width: 245px;
    }
  }
  .search {
    padding-right: 20px;
    text-align: right;
    i {
      font-size: 18px;
    }
  }
}
/* --- Sidenav --- */
.sidenav {
  .logo {
    i {
      background-position: 0px -16px;
      position: relative;
      left: 25px;
      width: 222px;
      height: 26px;
      zoom: .8;
    }
  }
}
/* --- Search --- */
.overlay {
  .search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
    @include transition(.25s);
  }
  .search-overlay-show {
    visibility: visible;
    opacity: 1;
    #mk-fullscreen-search-wrapper {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }
  .searchform {
    position: relative;
    vertical-align: middle;
    width: 90%;
    margin: 0 auto;
    &:focus {
      outline: none;
      border: none;
    }
  }
  .search-input {
    width: calc(100% - 90px);
    padding: 20px;
    color: #000;
    font-size: 6.5vw;
    text-align: center;
    border: 0;
    background-color: transparent;
    -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, .1);
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, .1);
    @include transition(.3s);
    &:focus {
      border: none;
      outline: none;
    }
  }
  .close-search {
    position: absolute;
    right: 15px;
    width: 25px;
    top: 20px;
    color: #FB796B;
    font-size: 6vw;
    @include transition(.2s);
  }
  .btn-search {
    position: absolute;
    right: 15px;
    width: 25px;
    top: 21px;
    color: #000;
    font-size: 5.5vw;
    opacity: .6;
    background-color: transparent;
    border: none;
    @include transition(.2s);
    input {
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
      height: 100%;
      background-color: transparent;
      border: 0;
    }
  }
}

/*
  Media Query
-------------------------------------*/
@media only screen and (max-width: 375px) {
  header {
    .logo {
      img {
        width: 205px;
      }
    }
  }
}