@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Media Query for HDPI (width 1083px-1290px) Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

/*
  Body
-------------------------------------*/
/* --- Center --- */
.center-content {
  width: 790px;
}
/* --- Artikel Terbaru --- */
#artikel-terbaru {
  .block-caption {
    width: 73%;
  }
}
/* --- Sidebar --- */
.sidebar {
  width: 250px;
}
/* --- Terpopuler --- */
#terpopuler {
  li {
    &:first-of-type {
      .gradient {
        top: -50px;
      }
    }
  }
  a {
    width: 183px;
  }
  a.image {
    width: 100%;
  }
}


/*
  Footer
-------------------------------------*/
/* --- Sitemap ---- */
.sitemap {
  width: 88%;
}