<!DOCTYPE html>
<html>
<head>
	<!-- Meta SEO Default -->
	<title>Sindo Edukasi</title>
	<meta charset="UTF-8">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#EEEEEE"> 

	<meta name="title" content="Sindo Edukasi">
	<meta name="description" content="Sindo Edukasi">
  <meta name="keywords" content="Sindo Edukasi">
  <meta name="author" content="SINDOnews.com">	
	<meta name="image_src" content="https://cdn.sindonews.net/gambar-cover-infografis-1200x628.jpg">

	<meta name="google-site-verification" content="mFQQxfgAE-mgZvZqimPAlFO2VROmqoQi-KJ2LOfvuWE">
	<meta name="googlebot-news" content="noindex, nofollow">
	<meta name="msvalidate.01" content="C5F11F9E74C25BC1586575EDA0B810C9">

  <!-- Icon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/images/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="assets/images/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="assets/images/favicon-192x192.png" sizes="192x192">

	<!-- Start CSS Link From Here -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css"> <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="assets/css/slick.css"/> <!-- Slick Slider CSS -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet"> <!-- Open Sans -->
	<!-- Start CSS Link End Here -->
</head>

<body>
	<!-- HTML Content Start From Here -->
  <div id="app">
    {{ pesan }}
    <!-- Header -->
    <header>
      <div class="container">
        <section class="header-top sinfix">
          <!-- Navigation Kanal -->
          <nav class="kanal-nav left">
            <ul>
              <li v-for="kanal in kanals"><a v-bind:href="kanal.link">{{ kanal.nama }}</a></li>
            </ul>
          </nav>
          <!-- Social Media Header -->
          <div class="sosmed-header right">
            <ul>
              <li><a href="https://www.facebook.com/sindonews"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/sindonews/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCCrfYLen-jXQAAJRo4oRbZQ" class="active"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/sindonews"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </section>
        <section class="header-middle sinfix">
          <!-- Logo -->
          <div class="logo left"><a href="https://www.sindonews.com"><img src="assets/images/logo.png" alt=" Sindo Travel"></a></div>
          <!-- Ornamen Header -->
          <div class="ornamen-header right"><img src="assets/images/ornamen_header.png" alt="Ornamen Header"></div>
        </section>
        <section class="header-bottom sinfix">
          <!-- Navigation Subkanal -->
          <nav class="subkanal-nav left">
            <ul>
              <li v-for="subkanal in subkanals"><a href="index.html" v-bind:class="{ active: subkanal.isActive }">{{ subkanal.nama }}</a></li>
            </ul>
          </nav>
          <!-- Search -->
          <div class="search right">
            <form class="search-field sample two" method="get" action="">
              <input type="text" name="search" id="search-input" placeholder="Cari Berita">
              <button type="submit" class="btn btn-search fa fa-search"></button>
              <button onfocus="document.getElementById('search-input').value = ''" type="reset" class="btn btn-reset fa fa-times"></button>
            </form>
          </div>
        </section>
        <section class="header-bottom sticky sinfix">
          <!-- Navigation Subkanal -->
          <nav class="subkanal-nav left">
            <ul>
              <li>
                <i class="fa fa-bars" aria-hidden="true"></i>
                <ul class="kanal-list">
                  <li v-for="kanal in kanals"><a v-bind:href="kanal.link">{{ kanal.nama }}</a></li>
                </ul>
              </li>
              <li v-for="subkanal in subkanals"><a v-bind:href="subkanal.link" v-bind:class="isActive">{{ subkanal.nama }}</a></li>
            </ul>
          </nav>
          <!-- Search -->
          <div class="search right">
            <form class="search-field sample two" method="get" action="">
              <input type="text" name="search" id="search-input-sticky" placeholder="Cari Berita">
              <button type="submit" class="btn btn-search fa fa-search"></button>
              <button onfocus="document.getElementById('search-input-sticky').value = ''" type="reset" class="btn btn-reset fa fa-times"></button>
            </form>
          </div>
        </section>
      </div>
    </header>
    <!-- Main -->
    <main id="content">
      <!-- Banner Center -->
      <div class="banner-center container"><a href="#"><img src="assets/images/banner_center_01.jpg" alt=""></a></div>
      <!-- Slider -->
      <section class="variable slider">
        <div>
          <a href="detail.html">
            <img src="assets/images/slider_01.jpg">
            <div class="block-text">
              <div class="title">Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor</div>
              <div class="subcaption">Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus</div>
            </div>
          </a>
        </div>
        <div>
          <a href="detail.html">
            <img src="assets/images/slider_01.jpg">
            <div class="block-text">
              <div class="title">Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor</div>
              <div class="subcaption">Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus</div>
            </div>
          </a>
        </div>
        <div>
          <a href="detail.html">
            <img src="assets/images/slider_01.jpg">
            <div class="block-text">
              <div class="title">Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor</div>
              <div class="subcaption">Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus</div>
            </div>
          </a>
        </div>
        <div>
          <a href="detail.html">
            <img src="assets/images/slider_01.jpg">
            <div class="block-text">
              <div class="title">Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor</div>
              <div class="subcaption">Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus</div>
            </div>
          </a>
        </div>
        <div>
          <a href="detail.html">
            <img src="assets/images/slider_01.jpg">
            <div class="block-text">
              <div class="title">Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor</div>
              <div class="subcaption">Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus</div>
            </div>
          </a>
        </div>
      </section>
      <!-- Editor Choice -->
      <div id="editor-choice">
        <div class="container">
          <div class="head">Editor Choice</div>
          <ul>
            <li>
              <a href="detail.html"><img src="assets/images/destinasi_01.jpg" alt=""></a>
              <div class="link"><a href="detail.html">Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor</a></div>
            </li>
            <li>
              <a href="detail.html"><img src="assets/images/destinasi_02.jpg" alt=""></a>
              <div class="link"><a href="detail.html">Metus eu Tortor Dapibus, eu Tempus Dolor Tempor</a></div>
            </li>
            <li>
              <a href="detail.html"><img src="assets/images/destinasi_03.jpg" alt=""></a>
              <div class="link"><a href="detail.html">Dolor Tempor Metus eu Tortor Dapibus</a></div>
            </li>
            <li>
              <a href="detail.html"><img src="assets/images/destinasi_04.jpg" alt=""></a>
              <div class="link"><a href="detail.html">Tortor Dapibus, eu Tempus Dolor Tempor Cras Pellentesque</a></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="container sinfix">
        <!-- Center -->
        <section class="center-content left">
          <!-- Artikel Terbaru -->
          <div id="artikel-terbaru">
            <div class="head sinfix">
              <div class="title left">Artikel Terbaru</div>
              <div class="more-top-right right"><a href="#">+ more</a></div>
            </div>
            <list-news></list-news>
          </div>
        </section>
        <!-- Sidebar -->
        <section class="sidebar right">
          <div class="banner-sidebar lazyload"><a href="#"><img class="img-responsive" src="assets/images/banner_side_01.jpg" alt=""></a></div>
          <div class="banner-sidebar lazyload"><a href="#"><img class="img-responsive" src="assets/images/banner_side_02.jpg" alt=""></a></div>
          <!-- Terpopuler -->
          <div id="terpopuler" class="lazyload">
            <ul>
              <li>
                <a href="#" class="image"><img src="assets/images/popular_01.jpg" alt="Penguatan Fungsi Pengantar Kerja Era Digital"></a>
                <div class="gradient">Gradient</div>
                <span class="rank left">1</span>
                <a href="#" class="left">PBB: Kebencian Rocky Gerung kepada Jokowi Melewati Kecerdasan Intelektual</a>
              </li>
              <li>
                <span class="rank left">2</span>
                <a href="#" class="left">Eks Bakal Caketum Golkar Dukung Airlangga Hartarto Jadi Capres 2024</a>
              </li>
              <li>
                <span class="rank left">3</span>
                <a href="#" class="left">Rocky Gerung Mau Dilaporkan, Pengamat: Mengkritik Presiden Hal Biasa</a>
              </li>
              <li>
                <span class="rank left">4</span>
                <a href="#" class="left">Hari Ini, Munas Golkar Agendakan Sidang Komisi-komisi</a></li>
              <li>
                <span class="rank left">5</span>
                <a href="#" class="left">Bamsoet Mundur, Persaingan Caketum Golkar Selesai</a></li>
            </ul>
          </div>
          <div class="banner-sidebar lazyload"><a href="#"><img class="img-responsive" src="assets/images/banner_side_03.jpg" alt=""></a></div>
        </section>
      </div>
    </main>
    <!-- Footer -->
    <footer>
      <div class="footer-top">
        <div class="container sinfix">
          <div class="sitemap left">
            <div class="channel-sitemap sinfix">
              <div class="head left">MNC MEDIA</div>
              <ul>
                <li><a target="_blank" href="http://www.rcti.tv/">RCTI</a></li>
                <li><a target="_blank" href="http://www.globaltv.co.id/">GTV</a></li>
                <li><a target="_blank" href="http://www.mnctv.com/">MNC TV</a></li>
                <li><a target="_blank" href="http://tv.inews.id/">iNews</a></li>
                <li><a target="_blank" href="http://koran-sindo.com/">Koran Sindo</a></li>
                <li><a target="_blank" href="http://www.mnctrijayafm.com/">MNC Trijaya FM</a></li>
                <li><a target="_blank" href="http://www.sindoweekly.com/">Sindo Weekly</a></li>
              </ul>
            </div>
            <div class="management-sitemap sinfix">
              <div class="head left">MANAGEMENT</div>
              <ul>
                <li><a href="http://about.sindonews.com/">Tentang Kami</a></li>
                <li><a href="http://about.sindonews.com/#tentang-kami">Redaksi</a></li>
                <li><a href="https://jobss.sindonews.com/">Karir</a></li>
                <li><a href="http://about.sindonews.com/#kode-etik">Kode Etik</a></li>
                <li><a href="http://about.sindonews.com/#disclaimer">Disclaimer</a></li>
                <li><a href="http://about.sindonews.com/term-of-service">Term Of Service</a></li>
                <li><a href="http://about.sindonews.com/privacy-policy">Privacy Policy</a></li>
                <li><a href="http://about.sindonews.com/sitemap">Sitemap</a></li>
                <li><a href="http://about.sindonews.com/#kontak-kami">Kontak Kami</a></li>
              </ul>
            </div>
            <div class="sosmed-sitemap sinfix">
              <div class="head left">FIND US AT</div>
              <ul>
                <li><a target="_blank" href="https://www.facebook.com/sindonews"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/sindonews"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                <li><a target="_blank" href="https://plus.google.com/110323932162143540835/"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
                <li><a target="_blank" href="https://jatim.sindonews.com/feed"><i class="fa fa-rss fa-lg" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="mnc-media right">
            <div class="partner"> <a target="_blank" href="http://mnc.co.id/"><img src="assets/images/mnc-media.png" alt="MNC MEDIA"></a> </div>
          </div>
        </div>
      </div>
      <div class="copyright ariflutfhansah februari 2020">
        <div class="container">
          Copyright © 2019 <span>SINDOnews.com</span> All right reserved
        </div>
      </div>
    </footer>
  </div>
	<!-- HTML Content End Here -->	

  <!-- Template -->
  <template id="listnews-template">
    <div class="list-news">
      <div v-for="berita in range" class="news lazyload">
        <div class="sinfix">
          <a v-bind:href="berita.url" class="image left"><img v-bind:src="berita.url_image" alt=""></a>
          <div class="block-caption right">
            <div class="category"><a v-bind:href="berita.url"><img src="assets/images/icon_map.png" alt="">{{ berita.category }}</a></div>
            <div class="title"><a v-bind:href="berita.url">{{ berita.title }}</a></div>
            <time>{{ berita.time }}</time>
            <div class="subcaption">{{ berita.subcaption }}</div>
          </div>
        </div>
      </div>
      <!-- Photo & Video -->
      <div id="photo-video" class="lazyload">
        <div class="head sinfix">
          <div class="title left">Photo & Video</div>
          <div class="more right"><a href="#">+ more</a></div>
        </div>
        <ul>
          <li>
            <a href="detail.html"><img src="assets/images/destinasi_01.jpg" class="img-responsive" alt=""></a>
            <div class="link"><a href="detail.html">Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor</a></div>
          </li>
          <li>
            <a href="detail.html"><img src="assets/images/destinasi_02.jpg" class="img-responsive" alt=""></a>
            <div class="link"><a href="detail.html">Metus eu Tortor Dapibus, eu Tempus Dolor Tempor</a></div>
          </li>
          <li>
            <a href="detail.html"><img src="assets/images/destinasi_03.jpg" class="img-responsive" alt=""></a>
            <div class="link"><a href="detail.html">Dolor Tempor Metus eu Tortor Dapibus</a></div>
          </li>
          <li>
            <a href="detail.html"><img src="assets/images/destinasi_04.jpg" class="img-responsive" alt=""></a>
            <div class="link"><a href="detail.html">Tortor Dapibus, eu Tempus Dolor Tempor Cras Pellentesque Metus Tempus Dolor </a></div>
          </li>
        </ul>
      </div>
      <div v-for="(berita, index) in news" v-if="index >= 5" class="news lazyload">
        <div class="sinfix">
          <a v-bind:href="berita.url" class="image left"><img v-bind:src="berita.url_image" alt=""></a>
          <div class="block-caption right">
            <div class="category"><a v-bind:href="berita.url"><img src="assets/images/icon_map.png" alt="">{{ berita.category }}</a></div>
            <div class="title"><a v-bind:href="berita.url">{{ berita.title }}</a></div>
            <time>{{ berita.time }}</time>
            <div class="subcaption">{{ berita.subcaption }}</div>
          </div>
        </div>
      </div>
      <div class="more-news"><a href="#">More</a></div>
    </div>
  </template>

	<!-- Start Javascript Library/Plugins Link From Here -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js"></script> <!-- Lazy Sizes -->
  <script type="text/javascript" src="assets/js/slick.js"></script> <!-- Slick Slider JS -->
  <script src="assets/js/vue.js"></script> <!-- Vue JS -->
	<script>
		$( document ).ready(function() {
      /* -- Function Navigation Sticky -- */
      $(window).scroll(function() {
        if ($(this).scrollTop() > 416){
          $(".header-bottom").animate({display: "none"}, 0);
          $('.header-bottom.sticky').fadeIn(500);
        }
        else{
          $(".header-bottom").animate({display: "block"}, 0);
          $('.header-bottom.sticky').fadeOut(0);
        }
      });
      /* -- Function Kanal Show -- */
      $(".subkanal-nav i").click(function(){
        $(".kanal-list").slideToggle();
      });
      /* -- Function Slick Slider -- */
      $(".variable").slick({
        centerMode:true,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: true,
        infinite: true,
        cssEase: 'linear',
        //autoplay: true,
        autoplaySpeed: 3000,
        variableWidth: true,
        variableHeight: true
      });
      /* -- Function Search -- */
      const input = document.getElementById("search-input");
      const searchBtn = document.getElementById("search-btn");
      const expand = () => {
        searchBtn.classList.toggle("close");
        input.classList.toggle("square");
      };
      searchBtn.addEventListener("click", expand);
    });
	</script>
  <script>

    Vue.component('list-news', {
      data: function() {
        return {
          news: [
            { 
              url_image: 'assets/images/news_01.jpg',
              url: 'https://www.facebook.com/sindonews',
              category: 'Mancanegara',
              title: 'Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor 1',
              time: 'Jumat, 24 Januari 2020 - 14:31 WIB',
              subcaption: 'Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purusa' 
            },
            { 
              url_image: 'assets/images/news_02.jpg',
              url: 'https://www.facebook.com/sindonews',
              category: 'Mancanegara 2',
              title: 'Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor 2',
              time: 'Jumat, 24 Januari 2020 - 14:30 WIB',
              subcaption: 'Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus' 
            },
            { 
              url_image: 'assets/images/news_01.jpg',
              url: 'https://www.facebook.com/sindonews',
              category: 'Mancanegara',
              title: 'Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor 3',
              time: 'Jumat, 24 Januari 2020 - 14:30 WIB',
              subcaption: 'Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus' 
            },
            { 
              url_image: 'assets/images/news_01.jpg',
              url: 'https://www.facebook.com/sindonews',
              category: 'Mancanegara',
              title: 'Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor 4',
              time: 'Jumat, 24 Januari 2020 - 14:30 WIB',
              subcaption: 'Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus' 
            },
            { 
              url_image: 'assets/images/news_01.jpg',
              url: 'https://www.facebook.com/sindonews',
              category: 'Mancanegara',
              title: 'Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor 5',
              time: 'Jumat, 24 Januari 2020 - 14:30 WIB',
              subcaption: 'Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus' 
            },
            { 
              url_image: 'assets/images/news_03.jpg',
              url: 'https://www.facebook.com/sindonews',
              category: 'Mancanegaraasasasa',
              title: 'Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor 6',
              time: 'Jumat, 24 Januari 2020 - 14:30 WIB',
              subcaption: 'Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus' 
            },
            { 
              url_image: 'assets/images/news_01.jpg',
              url: 'https://www.facebook.com/sindonews',
              category: 'Mancanegara',
              title: 'Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor 7',
              time: 'Jumat, 24 Januari 2020 - 14:30 WIB',
              subcaption: 'Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus' 
            },
            { 
              url_image: 'assets/images/news_01.jpg',
              url: 'https://www.facebook.com/sindonews',
              category: 'Mancanegara',
              title: 'Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor 8',
              time: 'Jumat, 24 Januari 2020 - 14:30 WIB',
              subcaption: 'Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus' 
            },
            { 
              url_image: 'assets/images/news_01.jpg',
              url: 'https://www.facebook.com/sindonews',
              category: 'Mancanegara',
              title: 'Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor 9',
              time: 'Jumat, 24 Januari 2020 - 14:30 WIB',
              subcaption: 'Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus' 
            },
            { 
              url_image: 'assets/images/news_01.jpg',
              url: 'https://www.facebook.com/sindonews',
              category: 'Mancanegara',
              title: 'Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor 10',
              time: 'Jumat, 24 Januari 2020 - 14:30 WIB',
              subcaption: 'Donec at metus vel velit tempus fermentum. Donec pellentesque turpis vel leo egestas rhoncus. Nam efficitur neque a nunc fringilla maximus non eu purus' 
            },
          ]
        }
      },
      computed: {
        range: function() {
          return this.news.slice(0,5)
        }
      },
      template: '#listnews-template'
    });

    var app = new Vue ({
      el: '#app',
      data: {
        currentView: 'list-news',
        kanals: [
          { nama: 'Beranda', link: 'https://www.sindonews.com' },
          { nama: 'Nasional', link: 'https://nasional.sindonews.com/' },
          { nama: 'Metro', link: 'https://metro.sindonews.com/' },
          { nama: 'Daerah', link: 'https://daerah.sindonews.com/' },
          { nama: 'Ekbis', link: 'https://ekbis.sindonews.com/' },
          { nama: 'Internasional', link: 'https://international.sindonews.com/' },
          { nama: 'Sports', link: 'https://sports.sindonews.com/' },
          { nama: 'Autotekno', link: 'https://autotekno.sindonews.com/' },
          { nama: 'Lifestyle', link: 'https://lifestyle.sindonews.com/' },
          { nama: 'Kalam', link: 'https://kalam.sindonews.com/' },
          { nama: 'Travel', link: 'https://travel.sindonews.com/' },
          { nama: 'Foto', link: 'https://photo.sindonews.com/' },
          { nama: 'Video', link: 'https://video.sindonews.com/' }
        ],
        subkanals: [
          { nama: 'Home', isActive: true, link: 'https://www.sindonews.com' },
          { nama: 'Kampus', link: 'https://www.sindonews.com' },
          { nama: 'Sekolah', link: 'https://www.sindonews.com' },
          { nama: 'Beasiswa', link: 'https://www.sindonews.com' },
          { nama: 'Indeks', link: 'https://www.sindonews.com' }
        ],
        sosmed: [
          { nama: 'Facebook', link: 'https://www.facebook.com/sindonews' },
          { nama: 'Instagram', link: 'https://www.instagram.com/sindonews/' },
          { nama: 'Youtube', link: 'https://www.youtube.com/channel/UCCrfYLen-jXQAAJRo4oRbZQ' },
          { nama: 'Twitter', link: 'https://twitter.com/sindonews' },
          { nama: 'Google Plus', link: 'https://plus.google.com/110323932162143540835/' },
          { nama: 'RSS', link: 'https://jatim.sindonews.com/feed' }
        ]
      }
    })
  </script>
	<!-- Start Javascript Library/Plugins Link From Here -->
</body>
</html>