<template id="listnews-template">
  <div class="list-news">
    <div v-for="berita in range" class="news lazyload">
      <div class="sinfix">
        <a v-bind:href="berita.url" class="image left"><img v-bind:src="berita.url_image" alt=""></a>
        <div class="block-caption right">
          <div class="category"><a v-bind:href="berita.url"><img src="assets/images/icon_map.png" alt="">{{ berita.category }}</a></div>
          <div class="title"><a v-bind:href="berita.url">{{ berita.title }}</a></div>
          <time>{{ berita.time }}</time>
          <div class="subcaption">{{ berita.subcaption }}</div>
        </div>
      </div>
    </div>
    <!-- Photo & Video -->
    <div id="photo-video" class="lazyload">
      <div class="head sinfix">
        <div class="title left">Photo & Video</div>
        <div class="more right"><a href="#">+ more</a></div>
      </div>
      <ul>
        <li>
          <a href="detail.html"><img src="assets/images/destinasi_01.jpg" class="img-responsive" alt=""></a>
          <div class="link"><a href="detail.html">Cras Pellentesque Metus eu Tortor Dapibus, eu Tempus Dolor Tempor</a></div>
        </li>
        <li>
          <a href="detail.html"><img src="assets/images/destinasi_02.jpg" class="img-responsive" alt=""></a>
          <div class="link"><a href="detail.html">Metus eu Tortor Dapibus, eu Tempus Dolor Tempor</a></div>
        </li>
        <li>
          <a href="detail.html"><img src="assets/images/destinasi_03.jpg" class="img-responsive" alt=""></a>
          <div class="link"><a href="detail.html">Dolor Tempor Metus eu Tortor Dapibus</a></div>
        </li>
        <li>
          <a href="detail.html"><img src="assets/images/destinasi_04.jpg" class="img-responsive" alt=""></a>
          <div class="link"><a href="detail.html">Tortor Dapibus, eu Tempus Dolor Tempor Cras Pellentesque Metus Tempus Dolor </a></div>
        </li>
      </ul>
    </div>
    <div v-for="(berita, index) in news" v-if="index >= 5" class="news lazyload">
      <div class="sinfix">
        <a v-bind:href="berita.url" class="image left"><img v-bind:src="berita.url_image" alt=""></a>
        <div class="block-caption right">
          <div class="category"><a v-bind:href="berita.url"><img src="assets/images/icon_map.png" alt="">{{ berita.category }}</a></div>
          <div class="title"><a v-bind:href="berita.url">{{ berita.title }}</a></div>
          <time>{{ berita.time }}</time>
          <div class="subcaption">{{ berita.subcaption }}</div>
        </div>
      </div>
    </div>
    <div class="more-news"><a href="#">More</a></div>
  </div>
</template>